* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1142px;
    margin: auto;
}

.finished-result {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(205, 214, 219, 0.3);
}

.result-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
    border-radius: 25px;
    background: rgb(235, 235, 235);
}

.close-finished-result {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: no-repeat url('img/close-circle-outline.svg');
    cursor: pointer;
    border: none;
}

header {
    border-bottom: solid 1px #ececec;
    margin-bottom: 20px;
}

.header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 45px;
    font-weight: 300;
    color: #222222;
}

.parag {
    font-size: 22px;
}

.training-field {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: #E7EBDA;
    border-radius: 10px;
}

.inpt-for-mobile {
    height: 0;
    width: 0;
    opacity: 0;
    position: fixed;
}

.text-box {
    text-align: justify;
    font-size: 24px;
}

.warning-message {
    font-size: 22px;
    font-weight: 600;
    color: #ef0505;
}

.stat-info {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    justify-content: space-between;
}

.wrapper-for-info-item {
    margin-bottom: 25px;
}

.stat-info-item {
    display: flex;
    align-items: center;
    font-size: 28px;
}

.stat-info-item:not(:last-child) {
    margin-bottom: 25px;
}

.stat-info-item>span {
    margin-left: 10px;
}

.icon {
    width: 30px;
    height: 30px;
}

.wrapper-for-start {
    display: flex;
    justify-content: space-between;
}

.wrapper-for-start>button {
    font-size: 17px;
    padding: 5px;
    background-color: #9c8080;
    color: #ffffff;
    border-radius: 14%;
    cursor: pointer;
}

.executed {
    color: #07b424;
}

.green {
    padding: 3px;
    border-radius: 3px;
    color: #fff;
    background-color: #15da35;
}

.red {
    background-color: #F36747;
}

@media (max-width: 720px) {
    .header-content {
        flex-direction: column;
    }
    .parag {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .training-field {
        flex-direction: column-reverse;
    }
    .stat-info {
        padding-left: 0px;
    }
    .wrapper-for-info-item {
        display: flex;
    }
    .stat-info-item:not(:last-child) {
        margin-bottom: 0px;
    }
    .wrapper-for-start {
        justify-content: normal;
        margin-bottom: 10px;
    }
    .start {
        margin-right: 10px;
    }
}